body{

    background-color: #b4b3ade0;

}
img{
    object-fit: cover;
    background-size: cover;
    width: 620px;
    height: 580px;

}
#homeID{
    font-size: 30px;
    color: black;



}
#selfID{
    font-size: 30px;
    color:black

}
#aboutID{
    font-size: 30px;
    color: black;
    margin-left:5%;

}
#projectsID{
    font-size: 30px;
    color:black;
    margin-left: 5%;
}
#contactID{
    font-size: 30px;
    color: black;
    margin-left: 60%;
}