body {
    background-color: black;
}

.nav li {
    display: inline-block;
    padding: 0 20px;
    font-size: 30px;
}

.nav a {
    text-decoration: none;
}

.nav {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 150px;
}

.right {
    float: right;
    margin-top: 25px;
}

.btn {
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary {
    background: red;
    color: green;
    transition: all .3s ease;
}

.btn-primary:hover {
    background: transparent;
    border-color: blue;
    color: pink;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo-img {
    padding: 0;
    margin: 0;
    float: left;
}

.logo-img img {
    height: 50px;
    width: auto;
    margin-top: 10px;
}

.nav a:hover {
    color: brown;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    text-align: center;
    background: cyan;
}